$primary-colour: #FFFFFF
$background-colour: #FF4136
$font-family: "Open Sans", Helvetica, sans-serif

body
  color: $primary-colour
  background: $background-colour
  font-family: $font-family
  text-align: center
  margin-top: 20%
  h1#title
    font-size: 2.5em
  a input[type=button]
    background: darken($background-colour, 5%)
    color: $primary-colour
    border: 5px solid darken($background-colour, 20%)
    font-size: 1.5em
    font-family: inherit
    outline: none
    padding: 15px
    &:hover
      border: 5px solid darken($background-colour, 35%)
